.intro{
  font-style: italic;

}
h1{
  color: #001333;
  text-decoration:underline;
}
img{
  margin: 40px;
  border: 0.8px ;
  border: solid;
  border-color: grey;
}
img.introduction{
  width: 200px;
  height: auto;
  transition: transform .3s;
  float:40px;

}
img.introduction:hover{
  transform: scale(1.2);
}
.column{
  margin:10%;
}
p{
  font-size: 25px;
}
