.intro{
  font-style: italic;

}
h1{
  color: navy;
  text-decoration:underline;

}
img{
  margin: 40px;
  border: 0.8px ;
  border: solid;
  border-color: grey;
}
img.introduction{
  width: 200px;
  height: auto;
  transition: transform .3s;
  float:40px;

}
img.introduction:hover{
  transform: scale(1.2);
}
.column{
  margin:5%;
  padding-left:150px;
  color: brown;
}
p{
  font-size: 25px;
}
div{
  background-color: grey;
}
h2{
  color: maroon;
  text-decoration: underline;
}
